<!--Don't need  the ng-inlcude because the navbar is set up in _Layout.cshtml-->
<!--However, it will remain here in case the formatting needs changing-->
<!--  <div ng-include="'/App_xSmorgaschordx/Partials/navbar.html'"></div>  -->
<div ng-view></div>
