<div>
    <h1 class=>Lessons</h1>



    <div class="container white singleLessonContainer">

        <h3 class="teal-text text-accent-4">{{lessonTitle.CustomLessonTitle}}</h3>
        <hr />
        <br />
        <div ng-repeat="lessonSongExample in lessonSongExamples">
            <hr />
            <p>{{lessonSongExample.TextSection}}</p>
            <hr />

            <h4 class="center">{{lessonSongExample.SongTitle}} || {{lessonSongExample.SongArtist}}</h4>
            <hr />
            <div class="center">
                <div class="row">
                    <span class="col s1 offset-s4 customChord1"><h5>{{lessonSongExample.Chord1}}</h5></span>
                    <span class="col s1 customChord2"><h5>{{lessonSongExample.Chord2}}</h5></span>
                    <span class="col s1 customChord3"><h5>{{lessonSongExample.Chord3}}</h5></span>
                    <span class="col s1 customChord4"><h5>{{lessonSongExample.Chord4}}</h5></span>
                    <br />
                </div>

                <audio controls><source src="{{lessonSongExample.SongClip}}" /></audio>

            </div>
        </div>
    </div>
</div>

<br/>
