<div>
    <h1>Custom Lesson Creator</h1>
    <h2>Give your lesson a title...</h2>
</div>

<div class="container">
    <div class="input-field">
        <input type="text" placeholder="Title of Lesson" class="col s6" ng-model="customLessonInitialize.CustomLessonTitle" />
        <a id="saveTitleButton" class="waves-effect waves-light btn" ng-click="saveLessonTitle(customLessonInitialize)">Save Lesson Title</a>
        <br/>
        <p>Note: You'll be able to edit your lesson's title later if you change your mind.</p>
   </div>
</div>
